<connectionStrings>
   <!-- Remote Connection -->
   <add name="ProductionDb"
        connectionString="Data Source=digheidro.master.local;Database=G2009-test; User ID=rwuser; Password=iren2016; Trusted_Connection=False; TrustServerCertificate=true; Connection Timeout=40; MultipleActiveResultSets=True; App=EntityFramework;"
        providerName="System.Data.SqlClient" />

   <!--Local Connection-->
   <add name="LocalDb"
        connectionString="Server=localhost; Database=G2009R3; Connection Timeout=40; MultipleActiveResultSets=True; App=EntityFramework; TrustServerCertificate=true; User=root; Password=next;"
        providerName="System.Data.SqlClient" />

   <!--Local Connection to IREN-->
   <add name="IRENLocalDb"
        connectionString="Server=localhost; Database=G2009-test; Connection Timeout=40; MultipleActiveResultSets=True; App=EntityFramework; User=sa; Password=next;"
        providerName="System.Data.SqlClient" />

   <!-- Remote Connection to IREN-->
   <add name="IRENProductionDb"
        connectionString="Data Source=digheidro.master.local;Database=G2009-test; User ID=rwuser; Password=iren2016; Trusted_Connection=False; Connection Timeout=40; MultipleActiveResultSets=True; App=EntityFramework;"
        providerName="System.Data.SqlClient" />

   <!-- MySQL Connection-->
   <add name="MySqlLocalDb"
          connectionString="Server=localhost;Port=3306;Database=RFSDB;Uid=root;Pwd=next"
          providerName="MySql.Data.MySqlClient" />

   <!-- MySQL remote connection-->
   <add name="MySQLProductionDb"
        connectionString="Server=digheidro.master.local;Port=3306;Database=RFS;Uid=root;Pwd=next"
        providerName="MySql.Data.MySqlClient"/>

</connectionStrings>